*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper .sidebar .up
{
  text-align: center;
  align-items: center;
  border-bottom: 2px solid rgba(0,0,0,0.7);
}

body
{
  background: #f3f5f9;
}

.wrapper
{
  display: flex;
  position: relative;

}
.wrapper .sidebar
{
  position: fixed;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  padding: 30px 0;
}

.wrapper .sidebar ul li
{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225 ,0.05);
}

.wrapper .sidebar ul li a
{
  color: #000;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas
{
  width: 25px;
}

.wrapper .sidebar ul li:hover
{
  background: #7BBB71;
}

.wrapper .sidebar ul li:hover a
{
  color: #000;
}
